
* {
	outline: none;
	padding: 0px;
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
}

body {
	overflow-y: hidden;
}

#start_message {
	color: #95a5a6;
	font-size: 200%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#viewport {
	z-index: -1;
}